/*
 * @title		�ы깉�ㅻ뱶
 * @author		源��꾩쭊
 * @date		2012.03.12
 * @update
 * @description
 */

#g_BODY {
    letter-spacing: -1px
}

#g_BODY,
#g_HEAD_TOP_BG #g_HEAD_TOP .g_left_com .selected,
.g_FOOTER .inicis_com {
    background: url(//img1.itemmania.com/images/_head_tail/portal/p_main_bg.gif) repeat
}

.g_sp_head,
.g_SEARCH_TOP .g_trade_type li,
.g_game_view .g_level_icon li {
    background: url(//img1.itemmania.com/images/_head_tail/170628_head.gif) no-repeat
}

#g_HEAD_TOP,
#g_CONTENT {
    z-index: 50;
    width: 980px;
    margin: 0 auto
}

#g_HEAD_TOP_BG {
    clear: both;
    height: 30px;
    line-height: 30px;
    background-color: #414651;
    text-align: center
}

#g_HEAD_TOP_BG #g_HEAD_TOP ul li {
    font-size: 11px;
    color: #FFF
}


/*#g_HEAD_TOP_BG #g_HEAD_TOP .g_left_com{float:left;position:absolute}*/

#g_HEAD_TOP_BG #g_HEAD_TOP .g_left_com li {
    padding: 0 10px;
    text-align: center;
    cursor: pointer
}

#g_HEAD_TOP_BG #g_HEAD_TOP .g_left_com .shutcut {
    padding-right: 5px;
    cursor: default
}

#g_HEAD_TOP_BG #g_HEAD_TOP .g_left_com .shutcut_on {
    width: 41px;
    height: 16px;
    margin-top: 6px;
    padding: 0;
    background-position: -629px -88px;
    cursor: pointer
}

#g_HEAD_TOP_BG #g_HEAD_TOP .g_left_com .shutcut_off {
    width: 41px;
    height: 16px;
    margin-top: 6px;
    padding: 0;
    background-position: -670px -88px;
    cursor: pointer
}

#g_HEAD_TOP_BG #g_HEAD_TOP .g_left_com .selected {
    height: 30px;
    border-left: 1px solid #2A2F3A;
    border-right: 1px solid #2A2F3A;
    color: #495164
}

#g_HEAD_TOP_BG #g_HEAD_TOP .g_left_com .left_bar {
    width: 8px;
    height: 22px;
    padding: 0;
    background-position: 100% -300px;
    cursor: default
}

#g_HEAD_TOP_BG #g_HEAD_TOP .g_right li {
    color: #BBB;
    cursor: pointer
}

#g_HEAD_TOP_BG #g_HEAD_TOP .center_bar {
    margin: 0 5px;
    color: #858994;
    cursor: default
}

#g_HEAD_TOP_BG #g_HEAD_TOP .g_left_com .center_bar {
    margin: 0;
    padding: 0
}

#g_ITEMMANIA {
    clear: both
}

#g_ITEMMANIA #g_MENU {
    width: 980px;
    height: 70px
}

#g_ITEMMANIA #g_MENU .g_sideway {
    margin-top: 27px
}

#g_ITEMMANIA #g_MENU .g_sideway li {
    margin: 18px 0 0 22px;
    cursor: pointer;
    line-height: 1px;
    text-indent: -9999px
}

#g_ITEMMANIA #g_MENU .g_sideway .first {
    margin: 0
}

.m_menu1 {
    width: 64px;
    height: 32px;
    background-position: -2px -2px
}


/* �꾩씠�쒓굅�� */

.m_menu2 {
    width: 66px;
    height: 14px;
    background-position: -76px -2px
}


/* 寃뚯엫留ㅻ땲�� */

.m_menu3 {
    width: 53px;
    height: 14px;
    background-position: -151px -2px
}


/* �곹뭹沅뚮ぐ */

.m_menu4 {
    width: 52px;
    height: 14px;
    background-position: -76px -18px
}


/* 寃뚯엫異⑹쟾 */

.m_menu5 {
    width: 25px;
    height: 14px;
    background-position: -688px -18px
}


/* 留덉폆 */

.m_menu6 {
    width: 63px;
    height: 14px;
    background-position: -814px -2px
}


/* IMI�ㅽ넗由� */

.m_menu7 {
    width: 54px;
    height: 14px;
    background-position: -722px -18px
}


/* 臾대즺異⑹쟾 */

.m_menu8 {
    width: 52px;
    height: 14px;
    background-position: -761px -2px
}


/* 寃뚯엫�뺣낫 */

.m_menu9 {
    width: 53px;
    height: 14px;
    background-position: -925px -2px
}


/* 寃뚯엫�댁뒪 */

.m_menu10 {
    width: 67px;
    height: 14px;
    background-position: -785px -18px
}


/* ���⑸ℓ�덉븘 */

.m_menu11 {
    width: 91px;
    height: 14px;
    background-position: -313px -18px
}


/* 李⑺븳以묎퀬留ㅼ엯 */

.m_menu12 {
    width: 51px;
    height: 14px;
    background-position: -414px -18px
}


/* M�ㅽ넗�� */

.m_menu13 {
    width: 81px;
    height: 14px;
    background-position: -474px -18px
}


/* �몃떎�꾨씪�댁뒪 */

.m_menu14 {
    width: 67px;
    height: 14px;
    background-position: -913px -18px
}


/* 湲고봽�몄뭅�� */

.m_menu15 {
    width: 40px;
    height: 14px;
    background-position: -863px -18px
}


/* �대깽�� */

.m_menu16 {
    width: 54px;
    height: 14px;
    background-position: -76px -34px
}


/* �ъ씤�몃ぐ */

.m_menu17 {
    width: 54px;
    height: 14px;
    background-position: -229px -34px
}


/* �대��곗꺏 */

.g_SEARCH_TOP {
    height: 32px;
    padding: 11px 0 0 22px;
    background-color: #0B7DCC
}

.g_SEARCH_TOP .g_trade_type li {
    float: left;
    width: 58px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer
}

.g_SEARCH_TOP .g_trade_type .type_sell {
    background-position: -62px -88px
}

.g_SEARCH_TOP .g_trade_type .type_sell_on {
    background-position: -2px -88px
}

.g_SEARCH_TOP .g_trade_type .type_buy {
    background-position: -182px -88px
}

.g_SEARCH_TOP .g_trade_type .type_buy_on {
    background-position: -122px -88px
}

.g_SEARCH_TOP .search_area,
#g_SEARCHBAR_GOOD {
    width: 175px;
    height: 24px;
    margin-right: 10px;
    border: 0px;
    color: #18648A;
    background-color: #FFF
}

.g_SEARCH_TOP .g_selectbox .value {
    margin: 2px 0 0 10px;
    _margin: 4px 0 0 5px
}

.g_SEARCH_TOP .g_selectbox .arrow_img {
    height: 24px;
    margin-top: 0;
    _margin: 0;
    background: url(//img1.itemmania.com/images/icon/icon_v.gif) no-repeat 0 -1675px
}

.g_SEARCH_TOP .g_selectbox .g_search_input {
    height: 21px;
    margin-left: 5px;
    padding-top: 2px;
    font-family: �뗭�, dotum;
    line-height: 22px
}

.g_SEARCH_TOP #g_SEARCHBAR_GOOD {
    float: left;
    width: 80px
}

.g_SEARCH_TOP .g_text {
    width: 100px;
    height: 24px;
    border: 0;
    margin-right: 8px
}

.g_SEARCH_TOP .g_search_list {
    float: left;
    width: 54px;
    height: 24px;
    background-position: -303px -191px
}

.g_SEARCH_TOP .g_list_btn {
    float: right;
    width: 101px;
    height: 24px;
    margin-right: 15px;
    background-position: -242px -88px;
    cursor: pointer
}

.head_selectbox_list {
    border: 1px solid #DFDFE1
}

.head_selectbox_list div {
    padding-left: 10px
}

.g_margintop_12 {
    margin-top: 12px
}

.g_game_view {
    position: relative;
    display: none;
    height: 249px;
    padding-left: 12px;
    border: 3px solid #0B7DCC;
    border-top: 0;
    background-color: #FFF;
    font-size: 11px
}

.g_game_view .arrow_icon {
    display: block;
    position: absolute;
    top: -3px;
    right: 19px;
    width: 7px;
    height: 4px;
    background-position: -712px -88px
}

.g_game_view .g_level_wrap {
    float: left;
    width: 38px
}

.g_game_view .g_level_wrap li {
    color: #A0A0A0;
    text-align: center
}

.g_game_view .g_level_wrap .l_select {
    background-color: #A0A0A0;
    color: #FFF;
    font-weight: bold
}

.g_game_view .g_level_icon li {
    width: 37px;
    height: 18px;
    margin-bottom: 2px;
    color: #FFF;
    cursor: pointer;
    line-height: 18px
}

.g_game_view .g_level_icon .new {
    background-position: -490px -64px
}

.g_game_view .g_level_icon .pop {
    background-position: -451px -64px
}

.g_game_view .g_level_icon .recom {
    background-position: -412px -64px
}

.g_game_view .g_level_icon .channeling {
    background: #B651F2
}

.g_game_view .g_level_icon2 {
    float: left;
    width: 37px;
    margin-top: 2px;
    border-left: 1px solid #E0E0E0
}

.g_game_view .g_level_icon2 li {
    float: left;
    width: 17px;
    height: 17px;
    border-top: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    background-color: #F5F5F5;
    cursor: pointer;
    line-height: 17px
}

.g_game_view .g_level_icon2 .etc {
    width: 35px;
    border-bottom: 1px solid #E0E0E0
}

.g_game_view .g_game_select {
    float: left;
    width: 440px;
    margin-left: 11px;
    border: 1px solid #DFDFDF;
    background-color: #FFF;
    letter-spacing: -1px
}

.g_game_view .gs_title {
    height: 23px;
    padding: 0 10px;
    background-color: #DADADA;
    color: #767676;
    text-align: right;
    line-height: 23px
}

.g_game_view .g_game_select .gs_title .second_radio {
    margin-left: 10px
}

.g_game_view .g_game_select .g_game_list {
    overflow: hidden;
    overflow-y: auto;
    float: left;
    position: relative;
    display: inline;
    width: 428px;
    height: 201px;
    padding: 0 6px
}

.g_game_view .g_game_select .g_game_list ul {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3px;
    padding-left: 10px
}

.g_game_view .g_game_select .g_game_list ul li {
    float: left;
    width: 128px;
    height: 20px;
    padding-left: 5px;
    background-color: #FFF;
    cursor: pointer;
    word-break: keep-all;
    color: #767676;
    line-height: 20px
}

.g_game_view .g_server_select {
    float: left;
    width: 176px;
    margin-left: 12px;
    border: 1px solid #DFDFDF;
    background-color: #FFF;
    letter-spacing: -1px
}

.g_game_view .g_server_select .g_server_list {
    float: left;
    position: relative;
    display: inline;
    width: 163px;
    height: 197px;
    padding: 2px 5px;
    overflow: hidden;
    overflow-y: auto
}

.g_game_view .g_server_select .g_server_list ul {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0 0 5px
}

.g_game_view .g_server_select .g_server_list ul li {
    width: 140px;
    height: 20px;
    padding-left: 5px;
    word-break: keep-all;
    cursor: pointer;
    line-height: 20px;
    color: #767676
}

.g_game_view .gs_select {
    background-color: #F5F5F5 !important;
    font-weight: bold
}

.g_game_view .gs_over {
    background-color: #F5F5F5 !important
}

.g_myinfo {
    float: left;
    height: 249px;
    margin-left: 12px;
    padding: 0 13px;
    border-left: 1px solid #DFDFDF;
    background-color: #F9F9F9
}

.g_myinfo .g_trade_count {
    width: 242px;
    height: 23px
}

.g_myinfo .g_trade_count li {
    float: left;
    width: 118px;
    height: 23px;
    background-color: #E6E6E6;
    color: #727272;
    text-align: center;
    line-height: 25px
}

.g_myinfo .g_trade_count .h_last_li {
    margin-left: 5px
}

.g_myinfo .g_trade_count li .h_text_blue {
    color: #306BC0;
    font-weight: bold
}

.g_myinfo .g_trade_count li .h_text_green {
    color: #2FA726;
    font-weight: bold
}

.g_myinfo .g_mymenu {
    width: 242px;
    margin-top: 18px;
    margin-top: 18px
}

.g_myinfo .g_mymenu .title strong {
    float: left;
    height: 17px;
    color: #727272
}

.g_myinfo .g_mymenu .title a {
    float: right;
    height: 17px;
    font-size: 11px;
    color: #828282;
    text-decoration: underline
}

.g_myinfo .g_mymenu .g_my_search {
    overflow: hidden;
    overflow-y: auto;
    clear: both;
    height: 79px;
    margin-bottom: 13px;
    padding: 10px 10px 5px;
    border: 1px solid #E0E0E0;
    background-color: #FFF;
    font-size: 11px;
    letter-spacing: -1px
}

.g_myinfo .g_mymenu .g_my_search li {
    float: left;
    width: 100%;
    margin-bottom: 2px;
    color: #767676;
    text-align: center
}

.g_myinfo .g_mymenu .g_my_search li img {
    margin-left: 2px
}

.g_myinfo .g_mymenu .g_my_search li span {
    color: #5B5B5B
}

.new_right_bn {
    position: relative;
    left: 990px;
    *left: 760px;
    *top: 80px;
    width: 120px;
    height: 600px;
    _margin-bottom: -600px
}

.g_FOOTER {
    position: relative;
    width: 980px;
    margin-top: 15px;
    border-top: 2px solid #DFDFE1
}

.g_FOOTER .g_footer_menu {
    height: 38px;
    padding-left: 15px;
    border-bottom: 1px solid #DFDFE1
}

.g_FOOTER .g_footer_menu li {
    float: left;
    margin-top: 10px;
    color: #808080
}

.g_FOOTER .g_footer_menu a {
    color: #808080
}

.g_FOOTER .g_footer_menu .blue {
    color: #245BB8;
    font-weight: bold
}

.g_FOOTER .g_footer_menu .bar {
    padding: 0 6px;
    color: #CBCBCB
}

.g_FOOTER .g_footer_menu .b_menu9 {
    width: 81px;
    height: 27px;
    margin-top: 7px;
    background-position: -358px -191px;
    cursor: pointer
}

.g_FOOTER .g_footer_menu .inicis {
    margin-top: 2px
}

.g_FOOTER .g_copyright {
    padding: 15px;
    color: #808080;
    font-size: 12px
}

.g_FOOTER .g_footer_logo {
    float: left;
    width: 107px;
    height: 33px;
    margin: 10px 25px 0 0;
    background-position: -2px -191px
}

.g_FOOTER .inicis_com {
    position: absolute;
    top: 50px;
    right: 10px
}