*
{
    box-sizing: border-box;
}

html
{
    background-color: #f5f5f5;
}

body
{
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 980px;
}

div
{
    /*border: 1px solid gray;*/
}

p
{
    margin-left: 5px;
    margin-top: 19px;
    margin-bottom: 10px;
}

container
{
    display: inline-block;
}

header
{
    height: 103px;
}

nav
{
    height: 270px;
}

article
{
    height: 352px;
}

main
{
    height: 370px;
}

footer
{
    height: 55px;
}

#logo
{
    width: 305px;
    height: 103px;
    float: left;
}

.header_midle
{
    float: left;
}

.serch
{
    border: 3px solid #FF5000;
    width: 356px;
    height: 35px;
    position: relative;
    left: 7px;
    top: 48px;
}

#btn_serch
{
    position: relative;
    left: 156px;
    top: 13px;
}

#btn_down
{
    position: relative;
    left: 148px;
}

#bannerUp
{    
    float: right;
}

.nav
{
    clear: both;
    width: 980px;
    height: 270px;
}

.nav1
{
    width: 30px;
    height: 270px;
    background-color: #e66303;
    float: left;
}

.nav2, .nav3, .nav4, .nav5, .nav6, .nav7
{
    width: 153px;
    height: 270px;
    background-color: #e66303;
    float: left;
}

.nav2
{
    background-color: #ff821f;
}

.nav8
{
    width: 30px;
    height: 270px;
    background-color: #e66303;
    float: left;
}

#banner1, #banner2, #banner3, #banner4
{
    margin-top: 10px;
    float: left;
}

#banner2, #banner4
{
    margin-left: 10px;
}

.main
{
    width: 980px;
    height: 370px;
}

.title_new, .title_mobile, .title_pop
{
    float: left;
    border: 1px solid #dddddd;
    width: 325px;
    height: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer
{
    clear: both;
    margin-top: 20px;
    border-top: 3px solid #82858b;
    width: 980px;
    height: 35px;
}

#img_footer
{
    position: relative;
    left: 10px;
    top: 25px;
    float: left;
}